__pycache__/
*.py[cod]
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.idea/
build/
dist/
release/
*.egg-info/
_local/
tests/test_edge_cases.py
tests/test_edge_cases2.py
tests/test_edge_cases3.py
